@use '@/Styles/mixins.scss' as *;

.main {  
  :global(.section_content) {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-inline: auto;
    gap: 2rem;
    max-width: var(--max-width);
  }

  & > div {
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }
}