:root {
  --bg-color: #25262A;
  --bg-color-70: rgb(37, 38, 42, .7);
  --soft-bg-color: #2D2E32;
  --soft-bg-color-70: rgb(45, 46, 50, .7);
  --soft-bg-color-30: rgb(45, 46, 50, .3);

  --primary-color: #7985E0;
  --secondary-color: #d3fbd8;

  --white: #ffffff;
  --black: #000000;
  --grey-ish: #6c6d71;

  --text-color: var(--white);

  --pastel-yellow: #FFF85E;
  --pastel-red: #B72E03;
  --pastel-green: #ACEB63;

  --font-Roboto: 'RobotoSlabRegular';
  --font-Roboto-light: 'RobotoSlabLight';
  --font-Roboto-medium: 'RobotoSlabMedium';

  @media (prefers-color-scheme: light) {
    --bg-color: #25262A;
    --bg-color-70: rgb(37, 38, 42, .7);
    --soft-bg-color: #2D2E32;
    --soft-bg-color-70: rgb(45, 46, 50, .7);
    --soft-bg-color-30: rgb(45, 46, 50, .3);
  
    --primary-color: #7985E0;
    --secondary-color: #d3fbd8;
    --text-color: var(--white);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'RobotoSlabRegular';
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;

  background-color: var(--bg-color);
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style-type: none;
}

@font-face {
  font-family: "RobotoSlabRegular";
  src: local("RobotoSlabRegular"),
    url('../../public/assets/Fonts/RobotoSlab/static/RobotoSlab-Regular.ttf') format("truetype");
  font-weight: 400
}

@font-face {
  font-family: "RobotoSlabLight";
  src: local("RobotoSlabLight"),
    url("../../public/assets/Fonts/RobotoSlab/static/RobotoSlab-Light.ttf") format("truetype");
  font-weight: 300
}

@font-face {
  font-family: "RobotoSlabMedium";
  src: local("RobotoSlabMedium"),
    url("../../public/assets/Fonts/RobotoSlab/static/RobotoSlab-Medium.ttf") format("truetype");
  font-weight: 500
}