:root {
  --bg-blue: #1f2029;
  --bg-blue-60: rgba(31, 32, 41, .6);
  --bg-blue-75: rgba(31, 32, 41, .75);

  --bg-gray: #393939;

  --bg-black-50: rgba(0,0,0, .5);


  --primary-color: #d29f52;
  --white: #ffffff;
  --black: #000000;

  --text-color: var(--black);
  --text-color-reverse: var(--white);

  --max-width: 1440px;

  @media (prefers-color-scheme: dark) {
    --bg-blue: #1e1f28;
    --bg-gray: #393939;
  
    --primary-color: #d29f52;
    --white: #ffffff;
    --black: #000000;
  
    --text-color: var(--black);
    --text-color-reverse: var(--white);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.primary-clr {
  color: var(--primary-color);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style-type: none;
}

h1 {
  font-size: 2.7rem;
  color: var(--primary-color);
}