@use '@/Styles/mixins.scss' as *;

@mixin shared-button-style {
  border: 2px solid var(--primary-color);
  cursor: pointer;
  padding: .75rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 15px;
}

.primary {
  background-color: var(--primary-color);
  color: var(--white);
  
  @include shared-button-style()
}

.secondary {
  color: var(--text-color-reverse);
  background-color: transparent;

  @include shared-button-style()
}

.usePrimaryColor {
  color: var(--primary-color);
}