@use '@/Styles/mixins.scss' as *;

.card {
  width: 300px;
  aspect-ratio: 1;
  border: 2px solid var(--primary-color);
  text-align: left;

  & > div {
    position: relative;
    aspect-ratio: 1;
    --object-pos: center;
      &:global(.right) {
        --object-pos: right;
      }
      &:global(.left) {
        --object-pos: left;
      }

    & > img {
      padding: 1rem;
      object-fit: cover;
      object-position: var(--object-pos);
    }
  }

  & > h2 {
    padding-inline: 1rem;
  }

  & > p {
    min-height: 5rem;
    padding: .5rem 1rem;
  }
}